span, div	{
						font-family: 'Gentium Book Basic', serif;						
						font-size: 1.2em;
					}
							
		.radio {
		}
			
		.radio__input {
			display: none;
		}
		
		.radio__label {
			cursor: pointer;
			padding: 8px 14px;
			background: #e7c75a;
			transition: background 0.1s;
			box-shadow: 10px 10px 10px #000000;
			-moz-box-shadow: 10px 10px 10px #000000;
			-webkit-box-shadow: 10px 10px 10px #000000;
			-khtml-box-shadow: 10px 10px 10px #000000;
		}
		
		.radio__input:checked + .radio__label {
			background-color: #ac8d22;
		}
		
		#bar {
			margin-left: auto;
			margin-right: auto;
			position : relative;
			background-color : #e7c75a;
			display: flex;		
			font-size: 2em;
		}
		
		.bar-elem {
			text-align: center;
			margin-left : 10px;
			margin-right : 10px;
		}
		
		span {
			text-align: center;
		}
		
		#state, .bar-elem-3 {
		}
		
		body {
			margin : 0;
		    background-image: url("../img/castlewall2.jpg");
		}
		
		#commenthead, #verbgui, #instruction {
			background-image: url("../img/pergament.jpg");
			box-shadow: 10px 10px 10px #000000;
			-moz-box-shadow: 10px 10px 10px #000000;
			-webkit-box-shadow: 10px 10px 10px #000000;
			-khtml-box-shadow: 10px 10px 10px #000000;
			display:block;
			margin: 50px;
			padding: 50px;
		}
		
		#commenthead {
			font-size: 1.5em;
		}
		
		#instruction, #commentSel {
			text-align: center;
			font-size: 1.7em;

		}
		
		#comment {
			text-align: center;
			font-size: 1.1em;
		}
		
		select {
			margin-top: 30px;
			background-color: #e7c75a;
			font-family: 'Gentium Book Basic', serif;
			font-size: 0.9em;
		}
		
		.bar-elem-1 {
			margin-left: auto;
		}
		
		.bar-elem-2 {
			margin-left: 10%;
		}
		
		.bar-elem-3 {
			margin-left: 10%;
		}
		
		#state {
			margin-right: auto;
		}
		